.header {
  background: #16213E;
    display: flex;
    gap: 10px;
    place-items: center;
    padding: 20px;
    height: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.205);
    transform: scale(1);
  }
  .header-title,
  .header-icon {
    font-size: 25px;
    color: whitesmoke;
  }
  .header-icon {
    width: 40px;
    height: 40px;
  }