.movie{
    position: relative;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.158);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .movie-line{
    content: '';
    width: 5px;
    height: 80%;
    position: absolute;
    left: 12px;
    border-radius: 50px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 200ms ease;
    background-color: #E94560;
  }
.movie-info img{
  border-radius: 5px;
  padding: 2px;
  max-width: 200px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

  .movie del{
    color: rgba(0, 0, 0, 0.486);
  }
  
  .movie-title{
    word-wrap: break-word;
    font-size: 24px;
    font-weight: 500;
    margin: 5px;
  }
  .movie-content{
    margin-top: 10px;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    margin: 5px;
  }
  .movie-status{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  .ball{
    cursor: pointer;
    border: none;
    border-radius: 50px;
    width: 12px;
    height: 12px;
  }
  .movie-close{
    background-color: #FF4545;
  }
  .movie-edit{
    background-color: #F0DC2A;
  }
  .movie-done{
    background-color: #69FF34;
  }

  .movie-info{
    float: left;
    width: 80%;
  }