.add-movie {
    background-color: #0F3460;
    padding: 10px 40px 45px;
  }
  .add-movie-title{
    place-items: center;
    gap: 10px;
  }
  .add-movie-title-subject{
    font-weight: 500;
    color: white;
  }
  .add-movie-form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  .input{
    width:100% ;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  .input:focus{
    outline: none;
  }
  .add-storyline{
    resize: none;
    height: 120px;
  }
  .submit-btn{
    margin-top: 10px;
    width: 250px;
    padding: 8px;
    color: white;
    border: 2px solid white;
    background-color: #16213E;
    border-radius: 5px;
    cursor: pointer;
  }
  .add-movie-input{
    color: whitesmoke;
  }